<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FPV Frequency Analyzer</title>
    <link rel="icon" type="image/x-icon" href="static/img/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <!-- Анимированный фон "Матрицы" -->
    <div class="matrix-overlay">
        <canvas id="matrixCanvas"></canvas>
    </div>

    <div class="content-header">
        <h1>FPV Frequency Analyzer</h1>
    </div>

    <!-- Основной контент -->
    <div class="content">
        <p>Analyze the proximity of digital and analog FPV drone channels.</p>
        <div class="content-inner">
            <div class="content-block">
                <div class="filter-container">
                    <h3 class="filter-title">Band Type Filter</h3>
                    <div class="mode-switch">
                        <label class="switch">
                            <input type="checkbox" id="calculation-mode-toggle">
                            <span class="slider round"></span>
                        </label>
                        <span class="mode-label">Calculation mode:</span>
                        <span class="mode-description" data-mode="simple">Quick</span>
                    </div>
                    <div class="checkbox-group">
                        <label class="checkbox-label">
                            <input type="checkbox" class="filter-checkbox" id="analogCheck">
                            <span class="checkbox-custom"></span>
                            <span class="checkbox-text">Analog</span>
                        </label>
                        <label class="checkbox-label">
                            <input type="checkbox" class="filter-checkbox" id="digitalCheck">
                            <span class="checkbox-custom"></span>
                            <span class="checkbox-text">Digital</span>
                        </label>
                    </div>
                    <button class="analyze-btn" id="analyzeBtn" disabled>Analyze</button>
                </div>
            </div>
            <div class="content-block">
                <div class="frequency-table hidden" id="frequencyTable">
                    <!-- Таблица будет заполняться динамически -->
                </div>
            </div>
            <div class="content-block">  </div>
            <div class="content-block">  </div>
            <div class="content-block">  </div>
            <div class="content-block">  </div>
            <div class="content-block">  </div>
            <div class="controls-container">
                <!-- Удаляем дубликат переключателя -->
            </div>
        </div>
    </div>

    <!-- Подключение скриптов -->
    <script src="{{ url_for('static', filename='js/script.js') }}" type="module" defer></script>
</body>

</html>